* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  color: #555;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #bebebe;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  padding: 0.8rem 2rem;
  border-radius: 1.2rem;
}

.sub-header {
  background-color: #1aba1a;
  padding: 0.8rem 2rem;
  border-radius: 1.2rem;
  margin-bottom: 5rem;
}

.container {
  max-width: 115rem;
  margin: 0 auto;
  /* padding: 0 4.8rem; */
  /* width: 100%; */
  /* height: 100vh; */
  /* border: 1px solid #555; */
  /* background-color: #cd0707; */
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  place-items: center;
  /* background-color: #555; */
}

.line,
.left-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 1.2rem;
  padding: 0 0.8rem;
}

.lines:link,
.lines:visited {
  font-size: 1.2rem;
  color: #454545;
  text-decoration: none;
}

.line-txt {
  font-size: 1.6rem;
  color: #555;
}

.logo-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 2.4rem;
}

.nav-links {
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  color: #1c1c1c;
}

.act-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.circle {
  border: none;
  background-color: #9c9c9c;
  padding: 1.4rem;
  border-radius: 55%;
}

.reg-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.6rem;
}

.act-boxs {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.tag {
  gap: 0.8rem;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 5rem; */
}

.search-box {
  display: flex;
  align-items: center;
  /* border: 1px solid #1c1c1c; */
  background-color: #fff;
  padding: 0.2rem;
  border-radius: 5rem;
}

.search-txt {
  font-size: 1.2rem;
  color: #fff;
}

.search-form input {
  padding: 1.2rem;
  border: none;
  border-radius: 1.2rem;
  /* color: #fff; */
  background: none;
  outline: none;
  outline-offset: none;
  /* width: 100%; */
}

.search-form select {
  padding: 1.2rem;
  border: none;
  background: none;
  border-radius: 1.2rem;
  outline: none;
  outline-offset: none;
}

.search-cont {
  padding: 0 1.2rem;
}

/* FOOTER SECTION */
.footer-section {
  background-color: #fff;
}

.footer-cont {
  padding: 3.2rem 0;
}

.grid--footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  margin-bottom: 3.2rem;
}

.news-letter {
  display: grid;
  grid-template-columns: 2fr 4fr;
  align-items: center;
}

.footer-heading {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 3.6rem;
  color: #1c1c1c;
}

.hot {
  font-size: 0.8rem;
  margin-bottom: 0.6rem;
}

.phone-no {
  font-size: 1.8rem;
  color: #1aba1a;
  font-weight: 600;
  margin-bottom: 2.2rem;
}

.address {
  font-size: 1.2rem;
  line-height: 1.5;
  /* padding-right: 9rem; */
  /* text-align: left; */
  margin-bottom: 0.6rem;
}

.mail {
  font-size: 1.2rem;
  margin-bottom: 5.6rem;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.2rem;
  color: #9c9c9c;
}

.select-cont {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.foot-select {
  border: 1px solid #bcbcbc;
  padding: 0.6rem 1.2rem;
  background: none;
  border-radius: 0.6rem;
  outline: none;
}

.subscribe {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.sub-txt {
  font-size: 1.8rem;
  color: #1c1c1c;
  font-weight: 600;
  /* padding-bottom: 5.6rem; */
}

.sub-input {
  background: none;
  outline: none;
  border: none;
}

.input-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 2rem; */
  /* border-bottom: 1px solid #454545; */
}

.border {
  border: 1px solid #b6b6b6;
}

.sub-txt span {
  color: #f1352b;
}
